.details-container {
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.temperatura h1 {
  font-size: 80px;
  margin: 0;
}
.myBg {
  background-image: url("src/assets/177089-3840x2160-desktop-4k-clouds-background.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
}
.Prevesioni {
  background-color: rgba(70, 66, 66, 0.377);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.BgCitta {
  background-color: rgba(49, 45, 45, 0.062);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.685);
}
.custom-color {
  background: linear-gradient(0deg, #1d1d1d, #2b2929, #313030);
}
